@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
    --background-tr-th: #FFF;
    --body-background: url("./");
    --btn-background: #484848;
    --btn-hover-background: #f0f0f0;
}
*{
 margin: 0;
 padding: 0;
 overflow: hidden;
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
 border: none;
 border: none;
 outline: none;
 border-radius: 5px;
 padding: 5px;
}
body{
    background-color: blue;
    /* background: var(--body-background);
    background-repeat: no-repeat;
    background-size: 120rem; */
}
.container{
    height: 59.9rem;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-buscar{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/** Trabalhando Inputs */
    input{
        width: 280px;
        padding: 10px;
        color: var(--btn-background);
    }
    .input-buscar{
        width: 280px;
        padding: 10px;
        color: var(--btn-background);
    }

/** Trabalhando botões */
    .btn-buscar{
        margin-left: 5px;
    }
    button{
        padding: 10px;
        background-color:var( --btn-background);
        color: white;
        transition: 0.5s;
    }
    button:hover{
        background-color: var( --btn-hover-background);
        color: black;
        transition: 0.5s;
    }

/** Trabalhando tabela */
    table{margin-top: 120px;}
    th{
        color: #ececec;
        background-color: var(--btn-background);
        border-radius: 0 ;
        text-align: center;
        padding: 25px;
        transition: 0.3s;
    }
    td{
        border-radius: 0;
        text-align: center;
        background-color: var(--background-tr-th);
        padding: 25px;
        transition: 0.3s;
    }
    tbody td tr:hover{
        color: #fff;
        background: black;
        border-radius: 0 ;
        text-align: center;
        padding: 25px;
        transition: 0.3s;
    }